<!Docktype html>
<html>
	<head>
	<title>Login Page</title>
	<link rel="icon" href="static/icon.png">
<style>
	.alert {
	  padding: 20px;
	  background-color: #f44336;
	  color: white;
	}
	.alert3 {
	  padding: 20px;
	  background-color: #ff9800;
	  color: white;
	}
	.alert2 {
	  padding: 20px;
	  background-color: #04AA6D;
	  color: white;
	}
	.closebtn {
	  margin-left: 15px;
	  color: white;
	  font-weight: bold;
	  float: right;
	  font-size: 22px;
	  line-height: 20px;
	  cursor: pointer;
	  transition: 0.3s;
	}
	
	.closebtn:hover {
	  color: black;
	}
	</style>
	</head>
<link rel= "stylesheet" href="{{url_for('static',filename='css/ft.css')}}">
{% if error3 %}  
	  <div class="alert3">  
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		   <strong>{{ error3 }}</strong>  
	    </div>
{% endif %}
{% if error1 %}  
	  <div class="alert">  
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		   <strong>{{ error1 }}</strong>  
	    </div>
{% endif %}
{% if error2 %}  
	  <div class="alert2">  
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		   <strong>{{ error2 }}</strong>  
	    </div>
{% endif %}  
<h2>Gadget World</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/" method="POST">
			<h1>Create Account</h1>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" name = "Name" required>
			<input type="email" placeholder="Email" name = "email" title="Please enter an valid email address" required>
			<input type="password" placeholder="Password" name = "password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  required>
			<button name="submit_button" value = "SignUp">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/" method="POST">
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name = "EmailCheck" required>
			<input type="password" placeholder="Password" name = "PasswordCheck" required>
			<button name="submit_button" value = "SignIn">Sign In</button>
			<a href="/resetpassword" style="color: green;"><u>Reset Password</u></a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, World!</h1>
				<p>Enter your personal details to join us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<script src="{{url_for('static',filename='js/fthree.js')}}"></script>
</html>